<!DOCTYPE html>
<html lang='es'>

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }} {{user.email}} {{user.numeroDeNoticiasBuscadasDeLaCategoriaCultura}}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

<title>Noticias</title>

 <section>
 <h1>Noticias</h1>
  <p><a href="/cultura">cultura</a></p>
  <p><a href="/ciencia">ciencia</a></p>
  <p><a href="/internacional">internacional</a></p>
  <p><a href="/politica">politica</a></p>
  <p><a href="/search">busquedas</a></p>
 
 
 <table class="table table-bordered">
<thead class="thead-dark">
    <tr>
      <th scope="col">Titular</th>
      <th scope="col">Autor</th>
      <th scope="col">Imagen</th>
      
    </tr>
 </thead>
 <tbody>
		{% for d in noticias %}
		<tr>
	  		<th scope="col"><a  href="{{d.link}}">{{d.titulo}}</a></th>
	  		<th scope="col"><a >{{d.autor}} {{d.fecha}}</a></th>
	  		<th scope="col"><img style="width: 50%;" src="{{d.imagen}}" alt="image" /></th>
	  		
	    </tr>
		{% endfor %}
 	
  </tbody>
</table>
  </section>
</html>